.people-itm {
  display: flex;
  align-items: center;
  margin: 5px auto;
  padding: 10px;
  cursor: pointer;
  max-width: 429px;
  transition: transform 330ms ease-in-out;
}
.people-itm:hover {
  transform: scale(1.05);
}

.unread {
  margin-left: auto;
}

